@use '../variables';

body {
    font-family: Geneva, Verdana, sans-serif;
    color: variables.$night;
    letter-spacing: variables.$letter-spacing;
    box-sizing: border-box;

    margin-right: auto;
    margin-left: auto;
    padding: 0px 20px;
    max-width: variables.$max-width;

    @media screen and (max-width: variables.$max-mobile-width) {
        max-width: 100%;
        padding: 0px;
    }

    /* MAIN - COMMON CONTAINER */
    main {
        padding: 200px 0px;

        @media screen and (max-width: variables.$max-mobile-width) {
            padding: 20px 0px;
        }
    }

    /* NAVIGATION IN HEADER */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;

        @media screen and (max-width: variables.$max-mobile-width) {
            flex-direction: column;
            gap: 16px;
        }
    }

    /* LINK .BUTTON */
    a {
        &:link {
            text-decoration: none;
            color: variables.$night;
        }
        &:visited {
            text-decoration: none;
            color: variables.$night;
        }
        &:hover {
            text-decoration: none;
            color: variables.$night;
        }
        &:active {
            text-decoration: none;
            color: variables.$night;
        }

        &.disabled {
            pointer-events: none;
            cursor: default;
            opacity: .5;
        }

        &.button {
            display: block;
            text-align: center;
            text-transform: uppercase;
            border-radius: 25px;
            padding: 8px 16px;
            border: 2px solid variables.$picton-blue;
            background-color: variables.$picton-blue;
            color: white;

            transition: border .5s, background-color .5s, color .5s;

            &:hover {
                color: variables.$picton-blue;
                border: 2px solid variables.$picton-blue;
                background-color: white;
            }

            &.secondary {
                border: 2px solid variables.$night;
                background-color: variables.$night;
                color: white;

                &:hover {
                    background-color: white;
                    color: variables.$night;
                }
            }
            &.tertiary {
                border: 2px solid variables.$gold;
                background-color: variables.$gold;
                color: variables.$night;

                &:hover {
                    background-color: white;
                    color: variables.$night;
                    border: 2px solid variables.$night;
                }
            }
        }
    }

    /* CARD */
    .card {
        box-shadow: 0 4px 8px rgba(0,0,0,.1),2px 10px 2pc rgba(0,0,0,.1);
        border-radius: 15px;
        overflow: hidden;
    }

    /* DOWNLOAD SECTION */
    .download-section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

}
