@use '../variables';

#projects {
    .card {
        gap: 20px;
    }
}
.card {
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
    transition: background 0.3s;
    border-radius: 5px;

    @media (max-width: variables.$max-mobile-width) {
        padding: 20px 0px;
        flex-direction: column;        
    }

    &:hover {
        opacity: 1 !important;
        filter: blur(0px) !important;
        background-color: rgba(30, 41, 59, 0.5);

        .details {
            .details-title {
                color: variables.$accent-color;
                transition: color 0.3s;
            }
        }
    }    

    .project-img,
    .date {
        width: 30%;
        color: rgb(100 116 139);
        letter-spacing: .025em;
        text-transform: uppercase;    
        font-weight: 600;    
        font-size: .75rem;

        @media (max-width: variables.$max-mobile-width) {
            width: auto;
        }
    }

    .project-img {
        img {
            width: 100%;
        }
    }

    .details {
        width: 70%;

        @media (max-width: variables.$max-mobile-width) {
            width: auto;
        }

        .details-title {
            color: variables.$text-primary;
            font-weight: 500;
        }
        .details-content {
            font-size: .875rem;
        }
    }
}