@use '../variables';

header {
    width: 100%;

    nav {

        .header-left_wrapper,
        .header-right_wrapper {
            display: flex;
            align-items: center;
        }
        .header-left_wrapper {
            gap: 10px;

            .header-left_title-wrapper {
                gap: 10px;
                display: flex;
                align-items: center;

                .cube {
                    width: 16px;
                    height: 16px;
                    background-color: variables.$lavender-blush;
                }
            }
            .role {
                @media screen and (max-width: variables.$max-mobile-width) {
                    display: none;
                }
            }
        }
        .header-right_wrapper {
            gap: 30px;

            a {
                text-transform: uppercase;
            }
        }
    }
}