@use '../variables';

.home_page_content {
    display: flex;
    justify-content: center;
    gap: 24px;

    @media screen and (max-width: variables.$max-mobile-width) {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .business {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .business_card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 40px;
            background-color: variables.$lavender-blush;
            height: 100%;

            @media screen and (max-width: variables.$max-mobile-width) {
                padding: 20px;
            }

            .picture {
                width: 200px;
                height: 200px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 30px 0px;

                border-radius: 50%;

                @media screen and (max-width: variables.$max-mobile-width) {
                    width: 120px;
                    height: 120px;
                    margin: 20px 0px;
                }
            }
            .name-role-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .name,
                .role {
                    margin: 0px;
                    text-align: center;
                }
                .name {
                    @media screen and (max-width: variables.$max-mobile-width) {
                        font-size: 21px;
                    }
                }
                .role {
                    @media screen and (max-width: variables.$max-mobile-width) {
                        font-size: 12px;
                    }
                }
            }
            .links {
                display: none;

                @media screen and (max-width: variables.$max-mobile-width) {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-top: 20px;
                }
            }
        }
        .social_box {
            background-color: white;
        }
    }

    .side_wrapper {
        padding: 20px;
        max-width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: variables.$max-mobile-width) {
            align-items: center;
        }

        .side-title {
            font-size: 30px;
            margin: 10px 0px 20px;

            @media screen and (max-width: variables.$max-mobile-width) {
                margin: 10px 0px 0px;
            }
        }
        .side-links {
            display: flex;
            align-items: center;
            gap: 12px;

            @media screen and (max-width: variables.$max-mobile-width) {
                display: none;
            }
        }
        .side-paragraph {
            @media screen and (max-width: variables.$max-mobile-width) {
                text-align: center;
            }
        }
    }
}