@use '../variables';

.projects_wrapper {
    padding: 20px;

    .project {
        border-radius: 25px;

        .title_and_link {
            display: flex;
            align-items: center;
            gap: 20px;

            .title {
                margin: 0px;
                font-size: 25px;
            }
            a {
                display: contents;
            }
        }
        .description {}
        .technologies {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            .technology {
                background-color: variables.$gold;
                border: 2px solid variables.$gold;
                border-radius: 45px;
                padding: 3px 15px;
                margin: 0px;
            }
        }
    }
}