@use '../variables';

.swiper {
    width: 100%;

    .swiper-wrapper {
        padding: 20px 0px;

        .swiper-slide {
            width: 230px;
            padding: 20px;
            height: auto;

            .experience-wrapper {
                .date {
                    font-weight: 600;
                }
                .role {
                    text-transform: uppercase;
                }
                .company,
                .location {
                    margin: 0px;
                }
                .description {
                    line-height: 25px;
                }
            }
        }
    }
    .pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 14px;

        .bullet {
            width: 12px;
            height: 12px;
            border-radius: 45px;
            background-color: variables.$night;
            opacity: .2;
            cursor: pointer;

            &.active {
                width: 24px;
                opacity: 1;
            }
        }

    }
}