@use '../variables.scss';

.sidebar {
    position: sticky;
    top: 0;
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0;

    @media (max-width: variables.$max-mobile-width) {
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    .top-content {
        h1 {
            color: variables.$text-primary;
            font-size: 3rem;
        }

        h2 {
            color: variables.$text-primary;
            margin-bottom: 1rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            letter-spacing: 1.5px;
        }

        p {
            max-width: 20rem;
        }

        .download-cv {
            margin-top: 15px;

            .tag {
                padding: 5px 12px;
                border-radius: 999px;
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 1;
                text-decoration: none;
                //background-color: #f43f5e;
                background-color: red;
                color: white;
                letter-spacing: 1px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: red;
                }
            }
        }

        .nav-menu {
            margin-top: 50px;

            ul {
                list-style: none;
            }

            li a {
                text-decoration: none;
                color: variables.$text-secondary;
                display: flex;
                align-items: center;
                margin-bottom: 1.5rem;
                letter-spacing: .15em;
                text-transform: uppercase;
                font-weight: 600;
                font-size: .75rem;

                span {
                    width: 30px;
                    height: 1px;
                    background: variables.$text-secondary;
                    margin-right: 15px;
                    transition: width 0.3s;
                }

                &.active,
                &:hover {
                    color: variables.$text-primary;

                    span {
                        width: 60px;
                        background: variables.$text-primary;
                    }
                }
            }
        }
    }

}