@use 'variables';
@use 'components/card';
@use 'components/spotlight';
@use 'components/tags';
@use 'components/social-links';


* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
#projects {
    a {
        text-decoration: none;
        color: unset;
    }
}
.section:not(#projects) {
    a {
        text-decoration: none;
        color: variables.$text-primary;

        &:hover,
        b:hover {
            color: variables.$accent-color;
        }
    }
}
b {
    color: variables.$text-primary;
    font-weight: 500;
}
body {
    background-color: variables.$bg-color;
    color: variables.$text-secondary;
    font-family: variables.$font-family;
    line-height: 1.6;

    .main-container {
        display: flex;
        max-width: variables.$main-container-max-width;
        margin: 0 auto;
        //padding: 0 50px;
        justify-content: space-between;

        @media (max-width: variables.$max-mobile-width) {
            flex-direction: column;
            padding: 0 20px;
        }


        .sidebar {
            position: sticky;
            top: 0;
            width: 35%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 100px 0;

            @media (max-width: variables.$max-mobile-width) {
                position: relative;
                width: 100%;
                height: auto;
                padding: 50px 0;
            }
            
            .top-content {
                h1 { 
                    color: variables.$text-primary; 
                    font-size: 3rem; 
                }
                h2 { 
                    color: variables.$text-primary; 
                    margin-bottom: 1rem;
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    letter-spacing: 1.5px;
                }
                p {
                    max-width: 20rem;
                }
                .nav-menu {
                    margin-top: 50px;

                    ul { 
                        list-style: none; 
                    }

                    li a {
                        text-decoration: none;
                        color: variables.$text-secondary;
                        display: flex;
                        align-items: center;
                        margin-bottom: 1.5rem;
                        letter-spacing: .15em;
                        text-transform: uppercase;    
                        font-weight: 600;    
                        font-size: .75rem;
                    
                        span {
                            width: 30px;
                            height: 1px;
                            background: variables.$text-secondary;
                            margin-right: 15px;
                            transition: width 0.3s;
                        }
                    
                        &.active, 
                        &:hover {
                            color: variables.$text-primary;

                            span { 
                                width: 60px; 
                                background: variables.$text-primary; 
                            }
                        }
                    }
                }
            }
            
        }

        .content {
            width: 50%;
            padding: 100px 0;

            @media (max-width: variables.$max-mobile-width) {
                width: 100%;
                padding: 0;
            }

            .section {
                margin-bottom: 120px;
                scroll-margin-top: 100px;

                .about-text-content {
                    padding: 20px;

                    @media (max-width: variables.$max-mobile-width) {
                        padding: 0px;
                    }
                }
            }

            #experience,
            #projects {
                &:hover {
                    .card {
                        opacity: 0.5;
                        filter: blur(1px);
                        transition: all 0.3s ease;
                    }
                }
            }
        }


    }

}