/* COLOR */
$lavender-blush: #EEE5E9;
$night: #131515;
$gold: #FFD700;
$picton-blue: #00A8E8;

/* TEXT */
$font-family: Georgia, serif;
$letter-spacing: 1px;

/* MEASURE */
$max-width: 1230px;
$max-mobile-width: 768px;
